<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link top"><h1><a href="#">Amenity Applewhite</a></h1></li>
        <li class="nav-link"><a href="#experience">Experience</a></li>
        <li class="nav-link"><a href="#education">Education</a></li>
        <li class="nav-link"><a href="#everything-else">Everything Else</a></li>
      </ul>
    </div>
  </div>
</header>
